{% include "header.html" %}
<div class="mid">
<div class="bg-image">
    <div class="mid1"><h1 class="heading">DUCAT</h1>
    <h6>The IT Training School</h6>
    <p>DUCAT is the best training institute that provides online training in <br>
    several technologies like software testing, JAVA, Android, AWS, Python,<br> 
    Data Science, Machine Learning, AI, Php, Web designing, Angular 8, computer <br>
    Networking, Cloud Computing, AutoCAD, Digital Marketing, and many more.<br>
    Our IT Institute has 6 branches at Delhi NCR, with more than 180 courses <br>
    and skill sets. Our Institute is helping youngsters to be trained in job-oriented<br>
    courses and improve their career.</p>
    </div>
</div>
</div>
{% include "footer.html" %}