{% include "header.html" %}
<div class="container">
		<div class="row">
			<div class="col-sm-12">
                <div class="back1">
                    <h2 style="text-align: center;">View</h2><br>
                    <ol>
                    <li><a class="viewlst" href="/viewall/">View All Student</a></li>
                    <li><a class="viewlst" href="/viewname/">View By Name</a></li>
                    <li><a class="viewlst" href="/viewbtime/">View By Batch Time</a></li>
                    <li><a class="viewlst" href="/viewreg/">View By Registration No.</a></li>      
                </div>
            </div>
        </div>
</div>
{% include "footer.html" %}