{% include "header.html" %}
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="viewall">
    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Fater's Name</th>
            <th scope="col">Mother's Name</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Course</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for a in alldata %}
            <tr>
            <th scope="row">{{a.id}}</th>
            <td>{{a.name}}</td>
            <td>{{a.fname}}</td>
            <td>{{a.mname}}</td>
            <td>{{a.phone}}</td>
            <td>{{a.course}}</td>
            <td>{{a.gender}}</td>
            <td>{{a.address}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
{% include "footer.html" %}